@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

/*#observablehq-toc nav {
    width: 300px;
  }*/

body {
  font-family: "Arial", sans-serif;
  color: #3d3d3d;
  font-weight: 100;
  font-style: normal;
  margin-top: 2rem;
}

h1,
h2,
h3 {
  font-family: "Arial", sans-serif;
  color: #3d3d3d;
  font-style: normal;
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 0.5rem; /* see h2 ~ p */
}

h1 + h2 {
  font-family: "Arial", sans-serif;
  color: #3d3d3d;
  font-style: normal;
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 0.5rem; /* siehe h2 ~ p */
}

h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  color: #3d3d3d;
  font-weight: 700;
  font-style: normal;
  margin-top: 1.2rem;
  /* margin-bottom: 0.375em;*/
}

.comment {
  font-size: 11px;
  color: #828282;
}

button {
  padding: 2px 5px;
  font-size: 10px;
  background-color: #f2f2f2;
  color: #7c848e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #dddddd;
}

a.no-underline {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 0.8em;
  max-width: 400px;
  line-height: 1.3;
  margin: 0;
  border-left: 1px solid #e5e5e5;
  padding-left: 2.5em;
  float: left;
}

a.logo {
  height: auto;
  margin: 0;
  padding-right: 2em;
  float: left;
}

img.logo_flag {
  height: 50px;
}

/* Hover effect on options */
select[class$="-input"] option:hover {
  background-color: #0077cc; /* Blue background */
  color: #ffffff; /* White text */
}

/* Add focus style for the select element */
select[class$="-inputs"]:focus {
  outline: none;
  border-color: #ff9900; /* Orange border when focused */
  box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
}

#observablehq-sidebar {
  font-family: "Arial", sans-serif;
}

#observablehq-header {
  margin-left: -47px;
  border-bottom: none;
}

li {
  margin-bottom: 7px; 
}

.card h2,
.card h3 {
  font-size: inherit;
}

.card h2 {
  font-weight: 700;
  font-size: 18px;
}

.card h3 {
  font-weight: 700;
  color: #3d3d3d;
  font-size: 17px;
  text-decoration: underline; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 2px;
  text-decoration-color: var(--underline-color, #06F7DA)
}

.card h4 {
  font-weight: 700;
  color: #3d3d3d;
  font-size: 15px;
  text-decoration: underline; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 2px;
  text-decoration-color: var(--underline-color, #06F7DA)
}

.card h3 a {
  color: #3d3d3d;
}

.card h4 a {
  color: #3d3d3d;
}