/* styles-ch-starthilfe.css */
@import url("styles.css");

/* Only override the necessary parts */
h1 {
  text-decoration: underline;
  text-decoration-thickness: 4px; /* Adjust thickness as needed */
  text-underline-offset: 3px; /* Add spacing between the text and underline */
  text-decoration-color: #FCE300;
}

h2 {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Adjust thickness as needed */
  text-underline-offset: 2px; /* Add spacing between the text and underline */
  text-decoration-color: #FCE300;
}
